{% extends 'base_review.html' %}
{% load review_extras %}
{% block user %}
    <div class="">
        <button type="button" > <a href="{% url 'create_ticket' %}">Demander une critique </a></button>
        <button type="button" ><a href="{% url 'create_review' %}">Créer une critique </a></button>
    </div>
    <h2>Votre flux</h2>
    {% load review_extras %}
        {% for instance in object_list %}
            {% if instance|model_type == "Ticket" %}
                {% include "review/partials/ticket_snippet.html" with ticket=instance %}
            {% elif instance|model_type == "Review" %}
            {% include "review/partials/review_snippet.html" with review=instance %}
            {% endif %}
        {% endfor %}
{% endblock user %}