{% extends 'base.jinja2' %}
{% block login_and_signup %}

    <div class="signup">
        <h2>Inscription</h2>
        {% if signup.errors %}
            {{ signup.errors }}
        {% endif %}
        <form method="post">
            {{ signup.as_p }}
            {% csrf_token %}
    <div class="button_signup">
            <a href="{% url 'login' %}"><button type="button">Retourner</button></a>
            <button type="submit">S’inscrire</button>
        </form>
    </div>
    </div>

{% endblock login_and_signup %}