{% load review_extras %} 
    <div class="ticket_info">
            <p> {{ticket.time_created}} </p>
        {% if user == ticket.user %}
            <p>Vous avez publié un ticket</p>
        {% else %}
            <p>{{ticket.user}} a demandé une critique</p>
        {% endif %}
            <h3>{{ticket.title}}</h3>
            <p>{{ticket.description}}</p>
        {% if ticket.image %}
            <p><img src="{{ticket.image.url}}"></p>
        {% endif %}
            
        {% if not ticket.answered and ticket.user != user%}
            <a href="{% url 'ticket-response' ticket.id %}"><button id="button_ticket_response">Créer une critique</button></a>
        {% endif %}
       
    </div>