{% extends 'base_review.jinja2' %}
{% block user %}
    <div class="ticket_response">
        <h2>Créer une critique</h2>
        <div class="contains_ticket_response">
            <h3>Vous êtes en train de poster en réponse à</h3>
            {% include "review/partials/view_a_review_ticket_snippet.jinja2" with ticket=ticket %}
        </div>
        <div class="create_review">
            <h3>Critique</h3>
            <form method="post" enctype="multipart/form-data">
                {{ review.as_p }}
                {% csrf_token %}
                <button type="submit">Envoyer</button>
            </form>
        </div>
    </div>
{% endblock user %}