{% load review_extras %} 
    <div class="view_review_ticket">
        <p> {{ticket.time_created}} </p>
        {% if user == ticket.user %}
                <p>Ticket - Vous</p>
        {% else %}
                <p>ticket.user a demandé une critique</p>
        {% endif %}
            <h3>{{ticket.title}}</h3>
            <p>{{ ticket.description }}</p>
        {% if ticket.image %}
            <p><img src="{{ticket.image.url}}"></p>
        {% endif %}
        
    </div>
    