{% load static %}
<html>
    <head>
        <title>LITReview</title>
    </head>
    <link rel="stylesheet" href="{% static 'review/styles.css' %}" />
    <body>
        <div id="header">
            <h1>LITReview</h1>
                <nav>
                    <ul>
                        <li><a href="{% url 'flux' %}">Flux</a></li>
                        <li><a href="{% url 'posts' %}">Posts</a></li>
                        <li><a href="{% url 'subscription' %}">Abonnements</a></li>
                        <li><a href="{% url 'logout' %}">Se déconnecter</a></li>
                    </ul>
                </nav>
        </div>
        {% block user %}{% endblock user %}
    </body>
</html>